proxmox_host         = "https://YOUR_PROXMOX_IP:8006"
proxmox_token_id     = "YOUR_TOKEN_ID@pam!TOKEN_NAME"
proxmox_token_secret = "YOUR_TOKEN_SECRET_GUID"
proxmox_node         = "YOUR_NODE_NAME"

vm_name              = "gaffer-server"
vm_id                = 300
template_name        = "ubuntu-2404-cloudinit"
storage_pool         = "local-lvm"

vm_cores             = 2
vm_memory            = 2048
vm_disk_size         = 20

vm_ip                = "192.168.1.240"
vm_subnet            = 24
gateway              = "192.168.1.1"
bridge               = "vmbr0"

vm_user              = "ubuntu"
ssh_public_key       = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC..."